html {
    min-height: 100%;
}
body {
    min-height: 100%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    background-image: url("/front/background.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto 100%;
    background-attachment: fixed;
}
@media screen and (max-width: 1100px) {
    body {
        background-image: url("/front/background-mobile.png");
    }
}
#corner_links {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
}
@media screen and (max-width: 1100px) {
    #corner_links {
        font-size: 20px;
    }
}@media screen and (max-width: 900px) {
    #corner_links {
        font-size: 16px;
    }
}
#corner_links a {
    margin-left: 10px;
}
h1 {
    font-size: 34px;
    text-align: center;
    margin-top: 40px;
    font-family: Georgia, Times, serif;
}
#frame {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
@media screen and (max-width: 1100px) {
    #frame {
        width: 85%;
    }
}
@media screen and (max-width: 900px) {
    #frame {
        width: 95%;
    }
}
input[type="text"], button {
    font-size: 16px;
    font-family: Verdana, Arial, sans-serif;
}
.input_row {
    margin: 15px;
}
#haikus {
    margin-top: 80px;
    text-align: center;
    font-size: 24px;
    font-family: Georgia, Times, serif;
}
@media screen and (max-width: 900px) {
    #frame {
        margin-top: 50px;
    }
    #haikus {
        margin-top: 40px;
    }
}
.haiku {
    width: 32%;
    display: inline-block;
    margin-bottom: 40px;
}
@media screen and (max-width: 900px) {
    .haiku {
        width: 45%;
    }
}
@media screen and (max-width: 650px) {
    .haiku {
        width: 75%;
    }
}
.haiku p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.best_haiku {
    width: 34%;
    display: inline-block;
    margin-bottom: 60px;
}
@media screen and (max-width: 900px) {
    .best_haiku {
        width: 45%;
    }
}
@media screen and (max-width: 650px) {
    .best_haiku {
        width: 75%;
    }
}
.best_haiku p {
    margin-top: 20px;
    margin-bottom: 20px;
}