body {
    font-family: Verdana, Arial, sans-serif;
}
h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: Georgia, Times, serif;
}
#frame {
    font-size: 16px;
    text-align: center;
    margin: 60px;
}
input[type="text"] {
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
}
button {
    font-size: 14px;
    font-family: Verdana, Arial, sans-serif;
}
.input_row {
    margin: 15px;
}
#haiku {
    margin-top: 70px;
    font-size: 24px;
    font-family: Georgia, Times, serif;
}
#haiku p {
    margin-top: 20px;
    margin-bottom: 20px;
}